{{!< default}}
{{#contentFor 'title'}}Math Helper{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#summary" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Summary</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#add" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">add</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#sub" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">sub</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#multiply" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">multiply</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#divide" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">divide</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#ceil" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">ceil</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#floor" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">floor</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#abs" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">abs</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="summary" data-kt-scroll-offset="100">
    <a href="#summary"></a>Math Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Table-->
  <div class="pt-5">
    <div class="table-responsive border rounded">
      <table class="table table-striped table-flush align-middle mb-0">
        <!--begin::Block-->
        <thead>
          <tr class="fs-4 fw-bold text-gray-900 p-6">
            <th class="min-w-300px">Helper</th>
            <th class="min-w-600px">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr class="p-5">
            <td><a href="#add">add</a></td>
            <td>Calculates the sum of two numbers.</td>
          </tr>
          <tr class="p-5">
            <td><a href="#sub">sub</a></td>
            <td>Calculates the difference of the given values.</td>
          </tr>
          <tr class="p-5">
            <td><a href="#multiply">multiply</a></td>
            <td>Calculate the multiplication of the given values.</td>
          </tr>
          <tr class="p-5">
            <td><a href="#divide">divide</a></td>
            <td>Compute the division of the given values.</td>
          </tr>
          <tr class="p-5">
            <td><a href="#ceil">ceil</a></td>
            <td>Round up the value.</td>
          </tr>
          <tr class="p-5">
            <td><a href="#floor">floor</a></td>
            <td>Rounds down a number.</td>
          </tr>
          <tr class="p-5">
            <td><a href="#abs">abs</a></td>
            <td>Returns an absolute value.</td>
          </tr>
        </tbody>
        <!--end::Block-->
      </table>
    </div>
  </div>
  <!--end::Table-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="add" data-kt-scroll-offset="100">
    <a href="#add"></a>add
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Calculates the sum of two numbers.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>val1: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The first number.
        </div>
        <!--end::Block-->
      </li>
      <li class="py-2"><code>val2: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The second number.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">// results in: 3
hbs.compile(&quot;\{{add a b}}&quot;)({&quot;a&quot;:1,&quot;b&quot;:2});</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="sub" data-kt-scroll-offset="100">
    <a href="#sub"></a>sub
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Calculates the difference of the given values.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>val1: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The first number.
        </div>
        <!--end::Block-->
      </li>
      <li class="py-2"><code>val2: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The second number.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">// results in: 3
hbs.compile(&quot;\{{sub a b}}&quot;)({&quot;a&quot;:5,&quot;b&quot;:2});</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="multiply" data-kt-scroll-offset="100">
    <a href="#multiply"></a>multiply
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Calculate the multiplication of the given values.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>val1: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The first number.
        </div>
        <!--end::Block-->
      </li>
      <li class="py-2"><code>val2: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The second number.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">// results in: 10
hbs.compile(&quot;\{{multiply a b}}&quot;)({&quot;a&quot;:5,&quot;b&quot;:2});</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="divide" data-kt-scroll-offset="100">
    <a href="#divide"></a>divide
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Compute the division of the given values.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>val1: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The first number.
        </div>
        <!--end::Block-->
      </li>
      <li class="py-2"><code>val2: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          The second number.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">// results in: 5
hbs.compile(&quot;\{{divide a b}}&quot;)({&quot;a&quot;:10,&quot;b&quot;:2});</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="ceil" data-kt-scroll-offset="100">
    <a href="#ceil"></a>ceil
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Round up the value.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>val: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          Number to be rounded to nearest greater integer.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">// results in: 6
hbs.compile(&quot;\{{ceil a}}&quot;)({&quot;a&quot;:5.6});</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="floor" data-kt-scroll-offset="100">
    <a href="#floor"></a>floor
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Rounds down a number.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>val: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          Number to be rounded to nearest lower integer.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">// results in: 5
hbs.compile(&quot;\{{floor a}}&quot;)({&quot;a&quot;:5.6});</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="abs" data-kt-scroll-offset="100">
    <a href="#abs"></a>abs
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">Returns an absolute value.</div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <h5 class="py-2 mb-0">Parameters:</h5>
    <!--end::Heading-->
    <!--begin::Parameters-->
    <ul>
      <li class="py-2"><code>val: number|string</code>
        <!--begin::Block-->
        <div class="pt-3">
          Number to perform absolute value operation on.
        </div>
        <!--end::Block-->
      </li>
    </ul>
    <!--end::Parameters-->
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript">
          <code class="language-javascript">// results in: 5.6
hbs.compile(&quot;\{{abs a b}}&quot;)({&quot;a&quot;:-5.6});</code>
        </pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->